{% extends 'base.html.twig' %}

{% block body %}

    {% if log %}
        <div class="jumbotron">
            <div class="container">
                <p><a class="btn btn-primary btn-lg" href="{{ download }}" role="button">Download your project</a></p>
                <pre>
                    {{ log }}
                </pre>
            </div>
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
